<p-toast [baseZIndex]="5000"></p-toast>
<div class="p-grid p-mb-5">
  <div class="p-col-10"></div>
  <div class="p-col-2">
    <div class="p-toolbar-group-left"></div>
    <div class="p-toolbar-group-right">
      <p-button
        styleClass="p-button-primary p-mr-2"
        [label]="editmode ? 'Update' : 'Create'"
        icon="pi pi-plus"
        (click)="onSubmit()"
      ></p-button>
      <p-button
        styleClass="p-button-secondary"
        label="Cancel"
        icon="pi pi-arrow-circle-left"
        (click)="onCancel()"
      ></p-button>
    </div>
  </div>
</div>
<div class="admin-page">
  <p-card
    [header]="editmode ? 'Edit Product' : 'Add Product'"
    subheader="You can add or edit products here"
  >
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="p-field p-col">
              <label for="brand">Brand</label>
              <input formControlName="brand" id="brand" type="text" pInputText />
              <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error"
                >Brand is required</small
              >
            </div>
            <div class="p-field p-col">
              <label for="price">Price</label><br />
              <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error"
                >Price is required</small
              >
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-4">
              <label for="countInStock">Stock</label><br />
              <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.countInStock.invalid && isSubmitted" class="p-error"
                >Count in stock is required</small
              >
            </div>
            <div class="p-field p-col-4">
              <label for="category">Category</label><br />
              <p-dropdown
                [options]="catagories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Category"
              ></p-dropdown>

              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error"
                >Category is required</small
              >
            </div>
            <div class="p-field p-col-1">
              <label for="isFeatured">Featured</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="p-field p-col-1">
              <label for="isHotDeals">Hot Deal</label><br />
              <p-inputSwitch formControlName="isHotDeals"></p-inputSwitch>
            </div>
            <div class="p-field p-col-2">
              <label for="name">Main Image</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error"
                >Image is required</small
              >
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 100%" [src]="imageDisplay" alt="" />
              </div>
            </div>
            <div class="p-field p-col-6">
              <label for="short_description">Short Description</label><br />
              <textarea
                pInputTextarea
                formControlName="short_description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="productForm.short_description.invalid && isSubmitted" class="p-error"
                >Description is required</small
              >
            </div>
            <div class="p-field p-col-6">
              <label for="long_description">Product Details</label><br />
              <p-editor formControlName="long_description" [style]="{ height: '320px' }"></p-editor>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
